
*{
margin: 0;
padding: 0;
font-size: 16px;
box-sizing: border-box;
}

body{
overflow: auto;
background-image: url("/arquivos/paisagem.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
margin-top: 800px;
height: 0;
width: 0;
}

nav{
 position: absolute;
 display: flex;
 top: 37%;
 left: 37%;
 transform: translate(-150%, -150%);
}

.container{
 position: absolute;
 display: flex;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.sublinha{
text-decoration: underline; /* Sublinhado*/
font-family: Arial, sans-serif;
}

.hiperlinks{
font-family: Times New Roman, sans-serif;
font-weight: bold;
}

a {
  text-decoration: none;
}

