*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, sans-serif;
}

body{
overflow: auto;
background-color: #F5F2D0;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
margin-top: 800px;
height: 0;
width: 0;
}

.container{
display: flex;
width: 70%;
margin: 0 auto;
}

.calcado-01{
margin: 0 auto;
position: absolute;
top: 50%;
left: 20%;
transform: translate(-50%, -50%);
width: 200px;
height: 200px;
background: #008000;
border-radius: 4px;
}

#calcado-01{
position: absolute;
top: 70%;
left: 20%;
transform: translate(-50%, -50%);
color: #008000;
font-size: 13px;
cursor: pointer;
}

#preco-01{
position: absolute;
top: 73%;
left: 20%;
transform: translate(-50%, -50%);
color: #008000;
font-size: 13px;
cursor: pointer;
}


.calcado-02{
margin: 0 auto;
position: absolute;
top: 50%;
left: 35%;
transform: translate(-50%, -50%);
width: 200px;
height: 200px;
background: #008000;
border-radius: 4px;
}

#calcado-02{
position: absolute;
top: 70%;
left: 35%;
transform: translate(-50%, -50%);
color: #008000;
font-size: 13px;
cursor: pointer;
}

#preco-02{
position: absolute;
top: 73%;
left: 35%;
transform: translate(-50%, -50%);
color: #008000;
font-size: 13px;
cursor: pointer;
}

.calcado-03{
margin: 0 auto;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 200px;
height: 200px;
background: #008000;
border-radius: 4px;
}

#calcado-03{
position: absolute;
top: 70%;
left: 50%;
transform: translate(-50%, -50%);
color: #008000;
font-size: 13px;
cursor: pointer;
}

#preco-03{
position: absolute;
top: 73%;
left: 50%;
transform: translate(-50%, -50%);
color: #008000;
font-size: 13px;
cursor: pointer;
}

.calcado-04{
margin: 0 auto;
position: absolute;
top: 50%;
left: 65%;
transform: translate(-50%, -50%);
width: 200px;
height: 200px;
background: #008000;
border-radius: 4px;
}

#calcado-04{
position: absolute;
top: 70%;
left: 65%;
transform: translate(-50%, -50%);
color: #008000;
font-size: 13px;
cursor: pointer;
}

#preco-04{
position: absolute;
top: 73%;
left: 65%;
transform: translate(-50%, -50%);
color: #008000;
font-size: 13px;
cursor: pointer;
}

.calcado-05{
margin: 0 auto;
position: absolute;
top: 50%;
left: 80%;
transform: translate(-50%, -50%);
width: 200px;
height: 200px;
background: #008000;
border-radius: 4px;
}

#calcado-05{
position: absolute;
top: 70%;
left: 80%;
transform: translate(-50%, -50%);
color: #008000;
font-size: 13px;
cursor: pointer;
}

#preco-05{
position: absolute;
top: 73%;
left: 80%;
transform: translate(-50%, -50%);
color: #008000;
font-size: 13px;
cursor: pointer;
}

a{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

#footer{
padding-bottom: 2.5rem;    /* altura do rodapé */
bottom: 0;
position: fixed;
width: 100%;
text-align: center;
background-color: #D3D3D3;
color: white;
top: 10;
cursor: pointer;
height: 80px;
}